doctype html
html(lang="en")
    head
        script.
            function getXmlHttpRequest() {
                var xmlhttp;
                if (window.XMLHttpRequest)
                {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp=new XMLHttpRequest();
                }
                else
                {// code for IE6, IE5
                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                }
                return xmlhttp;
            }
            
            function fix_str (txt) {
                return txt.replace('/','_').replace(/\./g,'_').replace(/ /g,'_').replace(/-/g,'_');
            }

            function is_image(filepath) {
                return  filepath.lastIndexOf('.png') == (filepath.length - 4) || 
                        filepath.lastIndexOf('.PNG') == (filepath.length - 4) || 
                        filepath.lastIndexOf('.jpg') == (filepath.length - 4) || 
                        filepath.lastIndexOf('.JPG') == (filepath.length - 4) || 
                        filepath.lastIndexOf('.gif') == (filepath.length - 4) || 
                        filepath.lastIndexOf('.GIF') == (filepath.length - 4);
            }

            function delete_image(SRC, pi_name, filename, divid) {
                var xmlhttp = getXmlHttpRequest();
                
                xmlhttp.onreadystatechange=function()
                {
                    console.log('State',xmlhttp.readyState,'status', xmlhttp.status);
                    
                    if (xmlhttp.readyState==4 && xmlhttp.status==200)
                    {
                        console.log(SRC);
                        console.log('READY');
                        SRC.innerHTML='DELETED';
                        SRC.onclick=null;
                        var div = document.querySelector('#'+divid);
                        div.parentNode.removeChild(div);
                    }
                    
                }

                console.log('deleting', pi_name, filename);
                
                xmlhttp.open("DELETE","#{RNG_URL}/api/v#{API_VERSION}/data",true);
                xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
                xmlhttp.send("foto="+filename+"&pi_name="+pi_name);
            }
            
            function submit_sender() {
                //https://gist.github.com/ebidel/2410898
                var sender         = document.querySelector('#sender'        );
                var sender_info    = document.querySelector('#sender_info'   );
                var sender_pi_name = document.querySelector('#sender_pi_name').value;
                var sender_file    = document.querySelector('#sender_file'   ).files[0];
                
                if (! sender_file) {
                    sender_info.innerHTML = 'no file given';
                    alert('no file given');
                    return;
                }
                
                console.log('sender        :', sender        );
                console.log('sender_pi_name:', sender_pi_name);
                console.log('sender_file   :', sender_file   );
                
                var fd = new FormData();
                fd.append("foto"   , sender_file   );
                fd.append("pi_name", sender_pi_name);
                
                var xhr = getXmlHttpRequest();
                xhr.upload.onprogress = function(e) {
                    if (e.lengthComputable) {
                        var percentComplete = (e.loaded / e.total) * 100;
                        //console.log(percentComplete + '% uploaded');
                        sender_info.innerHTML = percentComplete + '% uploaded';
                    }
                };
                
                xhr.onload = function() {
                    if (this.status == 200) {
                        var resp = JSON.parse(this.response);
                
                        console.log('Server got:', resp);
                
                
                        if ( 'createdAt' in resp ) { // success
                            var container = document.querySelector('#container');
                            var new_child = document.createElement('div');
                            var divid     = fix_str(resp.pi_name + '_' + resp.filename);
                            
                            console.log('new div id:', divid);
                            new_child.setAttribute('id', divid);
                            var title     = document.createElement('strong');
                            title.innerHTML = resp.pi_name + " :: " + resp.filename + " :: " + resp.filesize + " :: " + resp.createdAt;
                            
                            var btn      = document.createElement('button');
                            btn.setAttribute('class', "btn");
                            btn.innerHTML = "Delete";
                            //btn.setAttribute('onclick', "delete_image(this,'"+resp.pi_name+"','"+resp.filename+"','"+divid"');" ); // for FF
                            btn.onclick = function() { delete_image(this, resp.pi_name, resp.filename, divid); }; // for IE
                            

                            var body;
                            
                            if (is_image(resp.filepath)) {
                                body = document.createElement('img');
                                body.setAttribute('src', '#{RNG_URL}/api/v#{API_VERSION}/data/file/' + resp.filepath);
                            } else {
                                body = document.createElement('a');
                                body.setAttribute('href', '#{RNG_URL}/api/v#{API_VERSION}/data/file/' + resp.filepath);
                                body.innerHTML = resp.filename;
                            }

                            new_child.appendChild(title);
                            new_child.appendChild(btn);
                            new_child.appendChild(document.createElement('br'));
                            new_child.appendChild(body);
                            new_child.appendChild(document.createElement('br'));
                            
                            container.insertBefore(new_child,container.firstChild.nextSibling);
                            
                            //var image = document.createElement('img');
                            //image.src = resp.dataUrl;
                            //document.body.appendChild(image);
                        } else { //failure
                            sender_info.innerHTML = 'ERROR: ' + JSON.stringify( resp );
                        }
                    };
                };
                
                xhr.open("PUT","#{RNG_URL}/api/v#{API_VERSION}/data",true);
                //xhr.setRequestHeader("Content-type","multipart/form-data");
                xhr.send(fd);
            }
    body
        #container.col
            form(id='sender')
                span.
                    Pi Name
                input#sender_pi_name&attributes({type:"text", name:"pi_name", value:"web"})
                span. 
                    File
                
                input#sender_file&attributes({type:"file", name:"foto"})
                input(type="button", name="send", value="send", onclick='submit_sender()')
                span#sender_info
            //form(action="#{RNG_URL}/api/v#{API_VERSION}/data", method="POST", enctype="multipart/form-data")

            
            each val, index in data
                - var divid = val.dataValues.filepath.replace('/','_').replace(/\./g,'_').replace(/ /g,'_').replace(/-/g,'_')
                div(id=divid)
                    strong.
                        #{val.dataValues.pi_name} :: #{val.dataValues.filename} :: #{val.dataValues.filesize} bytes :: #{val.dataValues.createdAt}
                    button(class="btn", onclick="delete_image(this, '#{val.dataValues.pi_name}','#{val.dataValues.filename}', '#{divid}')").
                            Delete
                    br
                    
                    
                    
                    if val.dataValues.filepath.lastIndexOf('.png') == (val.dataValues.filepath.length - 4) || val.dataValues.filepath.lastIndexOf('.PNG') == (val.dataValues.filepath.length - 4) || val.dataValues.filepath.lastIndexOf('.jpg') == (val.dataValues.filepath.length - 4) || val.dataValues.filepath.lastIndexOf('.JPG') == (val.dataValues.filepath.length - 4) || val.dataValues.filepath.lastIndexOf('.gif') == (val.dataValues.filepath.length - 4) || val.dataValues.filepath.lastIndexOf('.GIF') == (val.dataValues.filepath.length - 4)
                        img(src='#{RNG_URL}/api/v#{API_VERSION}/data/file/' + val.dataValues.filepath)
                    
                    else
                        a(href='#{RNG_URL}/api/v#{API_VERSION}/data/file/' + val.dataValues.filepath).
                            #{val.dataValues.filename}
                        
                        //"link" #{val.dataValues.filepath} 
                        //#{val.dataValues.filepath.lastIndexOf('.png')}
                        //#{val.dataValues.filepath.lastIndexOf('.JPG')}
                    br
